.header{
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.grid1{
    background: #b92b27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.grid2{
    background: #b92b27;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.myPic{
    height: 300px;
    padding-top: 1em;
    border-radius: 40%;
    padding-left: 2em;;
}
.myText{
    background-color: black;
    opacity: .8;
    width: 75%;
    margin:auto;
    text-align: center;
    align-self: center;
}
.myText h4,p{
    color: white;
    padding-bottom: 0;
    margin: auto;
}
.myText h4{
    padding-top: 1em;
    font-weight: bold;
    margin-bottom: 7px;
}
.myText hr{
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}
.clg h4{
    
    padding-bottom: 1em;
}
.socialLinks{
    
    padding-top: 2em;
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}
.socialLinks i{
    color: white;
    font-size: 5em;
}